# Bugcrowd engagement handle
BUGCROWD_ENGAGEMENT=

# Discord webhook URL (ex. https://discord.com/api/webhooks/<id>/<token>)
DISCORD_WEBHOOK_URL=

# Bugcrowd session token, required for private engagements
#SESSION_TOKEN=

# Optional: Blacklist of users to ignore, comma-separated (ex. user1,user2,user3)
BLACKLIST_USERS=